body {
    margin: 0;
    width: 1600px;
    margin: 0 auto;
    background-color: #ff9500;
    
   
    background-image: url(images/bg-image.jpg);
}


.mx-auto {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
    overflow-Y: scroll;
  
}
  
#locked {
    visibility: hidden;
    font-family:'Rubik', sans-serif;
    }

.login {
    display: flex;
    justify-content: center;
}
